@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    /*align-items: center;*/
    max-width: max-content;
    max-height: 120px;
    margin: 0 auto;
    border-bottom: 10px solid #f2f2f2;
}
.navbar h2 {
    color: #f1356d;
}
.navbar .links {
    margin-left: 80%;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #f1356d;
}
.front{
    display: flex;
    height:100%;
}
.userNames{
    float:left;
    background: rgba(93, 84, 84, 0.47);
    width: 25%;
    flex-direction: column;
}
.userNames button{
    background: rgb(121, 80, 80);
    color: #000000;
    border: 10px;
    width: 93%;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    line-height:1.1em;
    font-size:1.1em;
}
.menuB button{
    margin-top: 15px;
    height: 50px;
    line-height:1.1em;
    font-size:1.1em;
    width: 40%;
    box-shadow: 1px 1px 1px  rgba(0,0,0,1)
}

.Menu {
    float:right;
    background: rgba(93, 84, 84, 0.47);
    width: 75%;
    margin-left: 10px;
    height: auto;
    text-align: center;
}
.detailsB button{
    border: 10px;
    width: 93%;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    line-height:1.1em;
    font-size:1.1em;
}
.detailsB button:hover{
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,1);
}
.EditPosts {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.EditPosts label {
    text-align: left;
    display: block;
}
.EditPosts h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}
.EditPosts input, .EditPosts textarea, .EditPosts select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.EditPosts button {
    background: #f1356d;
    color: #fff;
    margin-top: 50px;
    border: 0;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,1);
    float: right;
}
.buttoni button {
    background: rgba(252, 255, 255, 0.32);
    color: #000000;
    margin-top: 50px;
    border: 0;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 3px 3px 1px rgba(0,0,0,1);
    float: left;
}
